@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'partials/fixed-footer.scss';

// .top-row {
//   min-height: 25vh;
// }

.container-fluid {
  height: 50vh;
  background-color: #7ec0ee;
}

.button-container {
  width: 80vw;
}

.heading {
  margin-top: 3rem;
  text-align: center;
}
